name: Build and Test

on:
  push:
    branches: [ main, release/*, feature/* ]
  pull_request:
    branches: [ main, release/* ]

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Swift 6.2
      run: |
        wget -q https://download.swift.org/swift-6.2-release/xcode/swift-6.2-RELEASE/swift-6.2-RELEASE-osx.pkg
        sudo installer -pkg swift-6.2-RELEASE-osx.pkg -target /
        echo "/Library/Developer/Toolchains/swift-6.2-RELEASE.xctoolchain/usr/bin" >> $GITHUB_PATH
    - name: Build
      run: swift build
    - name: Run tests
      run: swift test

  build-linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install Swift
        run: |
          wget -q https://download.swift.org/swift-6.2-release/ubuntu2404/swift-6.2-RELEASE/swift-6.2-RELEASE-ubuntu24.04.tar.gz
          tar xzf swift-6.2-RELEASE-ubuntu24.04.tar.gz
          echo "$PWD/swift-6.2-RELEASE-ubuntu24.04/usr/bin" >> $GITHUB_PATH
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v
        timeout-minutes: 10

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: "6.2"
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v
        timeout-minutes: 10
