name: Windows

on:
  push:
    branches: [ main, release/*, feature/* ]
  pull_request:
    branches: [ main, release/* ]

jobs:

  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Swift
      uses: SwiftyLab/setup-swift@latest
      with:
        swift-version: "5.9"
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
